<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= title%></title>
        <%- include('partials/head.ejs')%>
    </head>
    <body>
        <%- include('partials/navigation.ejs')%>
        <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
            <section>
                <h1 class="display-1">About</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus eos numquam, in voluptatibus
                    culpa assumenda minima. Reiciendis ab iste sed voluptas itaque minus? Sunt pariatur labore odit
                    dicta optio, deserunt nostrum numquam architecto nam, possimus nisi corporis beatae, saepe
                    voluptatum neque! Voluptatum aspernatur incidunt deleniti? Ut, sequi architecto nihil hic quidem et
                    maxime cupiditate cumque, commodi natus numquam recusandae quibusdam distinctio sapiente,
                    perspiciatis vero! Reiciendis vitae assumenda minus alias ratione atque, tempora quas corrupti
                    repellendus, praesentium suscipit odio cum minima fugiat! Molestias a repellat quae hic tempora
                    iure, aliquam eligendi nesciunt iusto accusantium dolores facere vitae unde nihil veniam expedita?
                </p>
            </section>
        </main>
        <%- include('partials/footer.ejs')%>
    </body>
</html>
